{{/* For the contact page */}} {{ define "main" }}

<main>
  <div class="container-fluid">

    <div class="row tall-row">
      <div class="col-md-12">
        <h1 class="site-title">Contact Us</h1>
      </div>
    </div>

    <div class="row tall-row">
      <div class="col-md-12">
        <h2>Email</h2>

        <h3>Everyone from our exec team can be reached by email:</h3>
        <h3>President -
          <a href="mailto:cdelee@bradford.ac.uk">Chris Delee</a>
        </h3>
        <h3>Secretary -
          <a href="mailto:shall9@bradford.ac.uk">Stephen Hall</a>
        </h3>
        <h3>Treasurer -
          <a href="mailto:arvmayes@bradford.ac.uk">Alex Mayes</a>
        </h3>
        <h3>Social Exec -
          <a href="mailto:tmitche1@bradford.ac.uk">Tom Mitchell</a>
        </h3>
        <h3>Technical Exec -
          <a href="mailto:byarker1@bradford.ac.uk">Ben Yarker</a>
        </h3>

        <br>

        <h3>
          If you don't know who to contact or for general inquiries
          <br>about us, please contact us via our main
          <a href="mailto:pisoc@ubu.bradford.ac.uk">society email</a>.
        </h3>
      </div>
    </div>

    <div class="row tall-row">
      <div class="col-md-12">
        <h2>Facebook</h2>
        <h3>
          If you're a member of the society, you can also join our
          <a href="https://www.facebook.com/groups/ubupisoc">Facebook group</a>.
        </h3>
      </div>
    </div>

    <div class="row tall-row">
      <div class="col-md-12">
        <h2>Away From Keyboard</h2>
        <h3>You can find us every week at our
          <a href="/meetings">society meetings</a>.</h3>
        <h3>Feel free to say hi if you spot us on campus!</h3>
      </div>
    </div>

  </div>
</main>


{{ end }}