{{/* For the meetings page */}} 

{{ define "main" }}

<main>
  <div class="container-fluid">

    <div class="row tall-row">
      <div class="col-md-12">
        <h1 class="site-title">Meetings</h1>
      </div>
    </div>

    <div class="row tall-row">
      <div class="col-md-12">
        <h2>PiSoc holds society meetings every Monday at 18:30 in Horton D1.01</h2>
      </div>
    </div>

    <div class="row tall-row">
      <div class="col-md-12">
        <h3>Our meetings are the best place to get help with anything tech-related.</h3>
        <h3>
          Collectively, PiSoc has a wide range of skills in the displines of electrical engineering and computer science.
        </h3>
        <h3>
          Even if it’s not something we’re familiar with, bring your problem along and we'll have a crack at it!
        </h3>
      </div>
    </div>

    <div class="row tall-row">
      <div class="col-md-12">
        <h3>
          If you'd like to get in contact with us, you can find our details <a href="/contact">here</a>.
        </h3>
      </div>
    </div>

  </div>
</main>

{{ end }}