{{ partial "header" . }}

<main>

  <div class="container-fluid">

    <div class="row tall-row">

      <div class="col-md-12">

        <h1 class="site-title">{{ .Site.Title }}</h1>

        <h2 class="site-subtitle" id="subtitle"></h2>
        <script src="/js/random.js"></script>

      </div>

    </div>

    <div class="row tall-row">
      <div class="col-md-12">
        <h2>
          <a href="{{ range first 1 (where .Site.Menus.main ".Name" "==" "join")  }} {{ .URL }} {{ end }}">
            Click here to join!
          </a>
        </h2>
      </div>
    </div>

    <div class="row tall-row">

      <div class="col-md-4">
        <h2>Latest News</h2>
        <!-- Single pinned post at the top -->
        {{ range first 1 (where (where .Pages "Section" "news") ".Params.pinned" "==" true) }} {{ partial "landing-list-item" . }}
        {{ end }}

        <!-- Two regular posts following pinned -->
        {{ range first 2 (where (where .Pages "Section" "news") ".Params.pinned" "!=" true) }} {{ partial "landing-list-item" . }}
        {{ end }}
      </div>

      <div class="col-md-4">
        <h2>Upcoming Events</h2>
        <h3>Coming soon!</h3>
        {{/* {{ range first 2 (where .Pages "Section" "events") }} {{ partial "landing-list-item" . }} {{ end }} */}}
      </div>

      <div class="col-md-4">
        <h2>Latest Projects</h2>
        {{ range first 2 (where .Pages "Section" "projects") }} {{ partial "landing-list-item" . }} {{ end }}
      </div>

    </div>

    <div class="row tall-row">

      <div class="col-md-6">
        <h2>Weekly Meetings</h2>
        <h3>We hold our meetings every Monday</br>between 18:30 and 20:00 in Horton D1.01</h3>
        <h5>
          <a href="/meetings">Click here to find out more!</a>
        </h5>
      </div>

      {{/*
      <div class="col-md-6">
        <h2>Upcoming Sessions</h2>
        <p>SOME TEXT HERE</p>
      </div> */}}

      <div class="col-md-6">
        <h2>Latest Minutes</h2>
        <h3>Coming soon!</h3>
        {{/* {{ range first 2 (where .Pages "Section" "minutes") }} {{ partial "landing-list-item" . }} {{ end }}*/}}
      </div>

    </div>

  </div>

</main>

{{ partial "footer" . }}