<!-- This is a massive bodge, and really ought be seperated out into different items -->
<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>

{{ if eq "news" .Type }}
  <h5> 
  Posted: {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}
  {{ if eq .Params.pinned true }} | Pinned post <i class="glyphicon glyphicon-pushpin"></i>{{ end }}
  </h5>
  {{ partial "tags" .}}
{{ end }}

{{ if eq "projects" .Type }}
  {{/* <h5>{{ .Params.Description }}</h5> */}}
  <h5>Posted: {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }} | Author: {{ .Params.author }}</h5>
  {{ partial "tags" .}}
{{ end }}

{{ if eq "events" .Type }}
  <h5> Posted: {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</h5>
  {{ partial "tags" .}}
{{ end }}

{{ if eq "minutes" .Type }}
  <h5> Posted: {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</h5>
  <h5> Meeting date: {{ dateFormat "January 2, 2006" .Params.meetingDate }}</h5>
{{ end }}   
